<p>El pago fue realizado exitosamente</p>
<p>Info solicitada:</p>
<ul>
    <li>payment_method: {{payment_type}}</li>
    <li>external_reference: {{external_reference}}</li>
    <li>ID pago: {{payment_id}}</li>
</ul>